
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(187, 176, 176);
    font-size: 16px;
    font-weight: normal;
    color: #0F141E;
}

.cont{
    max-width: 750px;
    margin: auto;
}

.img{
    width: 200px;
    border-radius: 28px;
    box-shadow: 10px 4px 14px rgba(100, 0, 0, 0.251);
    margin-bottom: -2%;
}

.info-text p{
    font-style:italic;
    font-weight: bold;
    color: #505f7e;
    text-align: center;
}

a{
    color: #333;
    text-decoration: none;
    transition: all.2s; 
}

a:hover{
    color:rgb(226, 51, 203);
    font-size: 1.5rem; 
}

a:visited{
    color: #5c2cce;
}

.card-hobby{
    background: rgb(100, 146, 142);
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 3px;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
}

.rabota{
    background: tan;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 3px;
    border-radius: 10px;
    text-align: center;
}

.fio{
    background: rgb(151, 140, 210);
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
    border-radius: 10px;
} 

.msg{
     background: rgb(151, 140, 210);
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
    border-radius: 10px;
}



.btn{
    background: #c54444;
    padding: 10px 160px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    opacity: 0.8;
}


.card-hobby{
    
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.rabota{
  animation-duration: 3s;
  animation-name: slidein-mirror;
}

@keyframes slidein-mirror {
  from {
    margin-right: 100%;
    margin-left: -300%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
  }
}

.nb{
 list-style-type: none;
}

.table thead tbody{
  text-align: center;
  
}

.table{
  padding-left: 200px;
}


.form h2{
  text-align: center;
}

.form-group label{
  display: block;
  font-size: 14px;
}

.form-group input, textarea{
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.fio{
  margin-bottom: 20px;
  display: flex;
}

.fio .form-group{
  margin-right: 20px;
  width: 50%;
}


.fio .form-group :last-child{
  margin-right: 0;
}

.info{
  margin-bottom: 20px;
  display: flex;
}

.info-text {
  margin-left: 40px;
}

@media(max-width:752){
  .info{
    display: block;
  }
}
    




